<a href="https://colab.research.google.com/github/PawanKalyanJada/hasoc/blob/main/preprocessing/off_preprocessing_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/offensive subtask 2 test data/tamil test.csv',header=None)
df.columns=['id','text']

In [ ]:
!pip install tweet-preprocessor

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.7/dist-packages (0.6.0)

In [ ]:
import preprocessor as p

In [ ]:
for i in range(len(df)):
  if(not(i in [133, 143, 230, 322, 353, 365, 393, 423, 528, 539, 565])):
    df['text'][i]=p.clean(df['text'][i])

In [ ]:
#df['text']=df['text'].apply(lambda x: p.clean(x))

In [ ]:
for i in range(len(df)):
  if(not(i in [133, 143, 230, 322, 353, 365, 393, 423, 528, 539, 565])):
    df['text'][i]= df['text'][i].lower().replace('[^\w\s]',' ').replace('\s\s+', ' ')

In [ ]:
#df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [ ]:
df.to_csv('/content/drive/MyDrive/off language test/subtask 2/tamil test.csv',index=False)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/offensive subtask 2 test data/malayalam test.csv')
df.columns=['id','text']

In [ ]:
df

            id                                               text
0    MA_YT6001  athe beharyku deputationil pokam pinarai vijay...
1    MA_YT6002  USER cheruparamadathil than thinnunnath alla p...
2    MA_YT6003  USER cheruparamadathilpinaraayi shournuril oru...
3    MA_YT6004  USER vk pinarai thinnunnathu ninte okke theett...
4    MA_YT6005  USER george thante ammade poottile pooda kalay...
..         ...                                                ...
994  MA_YT6995             ente kochu tv dhaivangaleee kaatholnee
995  MA_YT6996               aaha jhony sins abinayikkuo ith pole
996  MA_YT6997  ath kaaanich reach vangan nokkunna nee enth na...
997  MA_YT6998       mattullavarkku vendi kalyanam kazhikkunnavar
998  MA_YT6999  e logathine pokk engoda evide corona alla athi...

[999 rows x 2 columns]

In [ ]:
df['text']=df['text'].str.lower()

In [ ]:
df['text']=df['text'].apply(lambda x: p.clean(x))

In [ ]:
df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [ ]:
df

            id                                               text
0    MA_YT6001  athe beharyku deputationil pokam pinarai vijay...
1    MA_YT6002  user cheruparamadathil than thinnunnath alla p...
2    MA_YT6003  user cheruparamadathilpinaraayi shournuril oru...
3    MA_YT6004  user vk pinarai thinnunnathu ninte okke theett...
4    MA_YT6005  user george thante ammade poottile pooda kalay...
..         ...                                                ...
994  MA_YT6995             ente kochu tv dhaivangaleee kaatholnee
995  MA_YT6996               aaha jhony sins abinayikkuo ith pole
996  MA_YT6997  ath kaaanich reach vangan nokkunna nee enth na...
997  MA_YT6998       mattullavarkku vendi kalyanam kazhikkunnavar
998  MA_YT6999  e logathine pokk engoda evide corona alla athi...

[999 rows x 2 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/off language test/subtask 2/malayalam test.csv',index=False)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/offensive subtask 1 test data/tam_offesive_withoutlabels_test.tsv.csv',delimiter='\t')

In [ ]:
df['text']=df['text'].str.lower()

In [ ]:
df.to_csv('/content/drive/MyDrive/off language test/subtask 1/tamil train.csv',index=False)