<a href="https://colab.research.google.com/github/PawanKalyanJada/hasoc/blob/main/preprocessing/off_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Offensive Language Detection/subtask 2/Tamil-Codemixed_offensive_data_Training-Tweet-HL.xlsx',header=None)
df.columns=['id','text','label']

In [ ]:
df

             id                                               text label
0      TA_HL100  Iyaooo Kovam pattutene sothula visatha vachuru...   NOT
1      TA_HL101  @Asha Apo neenga atha government ku theriya pa...   NOT
2      TA_HL102  @Bala sundar ayyo sorry...antha line ah explai...   NOT
3      TA_HL105  @kalimuthu ne ena lusa...yaaru edhu panaalum e...   NOT
4      TA_HL109  1st baby ku neat ah feed panunga plzz ipdi iru...   NOT
...         ...                                                ...   ...
3995  TA_TW6620  Yaroda body structure semaya irukum? Sema mood...   OFF
3996  TA_TW3336  Yenda naangala politics varom nu pala varusham...   OFF
3997  TA_HL1105  Yepdithan seruppala adichalum arasiyalvathikku...   OFF
3998  TA_TW1915  @USER Paithiyam ena unga vanthu full ah forwar...   OFF
3999  TA_TW4528  RT @USER : Itha vidaa kevalam veraa irukaa vij...   OFF

[4000 rows x 3 columns]

In [ ]:
df['label']=df['label'].str.lower()

In [ ]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading https://files.pythonhosted.org/packages/17/9d/71bd016a9edcef8860c607e531f30bd09b13103c7951ae73dd2bf174163c/tweet_preprocessor-0.6.0-py3-none-any.whl
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [ ]:
import preprocessor as p

In [ ]:
df['text']=df['text'].apply(lambda x: p.clean(x))

In [ ]:
df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [ ]:
df

             id                                               text label
0      TA_HL100  iyaooo kovam pattutene sothula visatha vachuru...   not
1      TA_HL101  apo neenga atha government ku theriya paduthaliya   not
2      TA_HL102  sundar ayyo sorry antha line ah explain pannam...   not
3      TA_HL105  ne ena lusa yaaru edhu panaalum en da religion...   not
4      TA_HL109  st baby ku neat ah feed panunga plzz ipdi irun...   not
...         ...                                                ...   ...
3995  TA_TW6620  yaroda body structure semaya irukum sema mood ...   off
3996  TA_TW3336  yenda naangala politics varom nu pala varusham...   off
3997  TA_HL1105  yepdithan seruppala adichalum arasiyalvathikku...   off
3998  TA_TW1915  paithiyam ena unga vanthu full ah forward msg ...   off
3999  TA_TW4528           itha vidaa kevalam veraa irukaa vijay ku   off

[4000 rows x 3 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Offensive language detection csv/subtask 2/tamil train.csv',index=False)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Offensive Language Detection/subtask 2/Tamil_hasoc_tanglish_test_withlabels.tsv',delimiter='\t',header=None)

In [ ]:
df.columns=['id','text','label']

In [ ]:
df['label']=df['label'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

             id                                               text label
0    TA_TW15946  Take it this thevidiya Kandipa indha page admi...   off
1    TA_TW10175  enga veetla itha nadakum Athum oru varushama t...   not
2    TA_TW15947  Indha Sallli Punda, Dummy Pundalam Orama Iruka...   off
3    TA_TW15174  Juriya poola tier 1 la umburan tha kulla punda...   off
4    TA_TW15182  Kullans lam umba therila Loosu kuthi maari umb...   off
..          ...                                                ...   ...
935  TA_TW15928  Woman with a bhindi picture on a logo promotes...   off
936  TA_TW10014  Worst ra Vara vara Namma Society kevalama poit...   off
937  TA_TW10134  Yeallarukum reply pandringa namma #TAG RakidaR...   not
938  TA_TW10418  Yeva yeva valkaiyelam flashlight adicha maari ...   not
939  TA_TW13798   Deiii udhay sunniya oomburathuku 200 pothumad...   off

[940 rows x 3 columns]

In [ ]:
df['text']=df['text'].apply(lambda x: p.clean(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [ ]:
df

             id                                               text label
0    TA_TW15946  take it this thevidiya kandipa indha page admi...   off
1    TA_TW10175  enga veetla itha nadakum athum oru varushama t...   not
2    TA_TW15947  indha sallli punda dummy pundalam orama irukan...   off
3    TA_TW15174  juriya poola tier la umburan tha kulla pundai ...   off
4    TA_TW15182  kullans lam umba therila loosu kuthi maari umb...   off
..          ...                                                ...   ...
935  TA_TW15928  woman with a bhindi picture on a logo promotes...   off
936  TA_TW10014  worst ra vara vara namma society kevalama poit...   off
937  TA_TW10134  yeallarukum reply pandringa namma rakidarakida...   not
938  TA_TW10418  yeva yeva valkaiyelam flashlight adicha maari ...   not
939  TA_TW13798  deiii udhay sunniya oomburathuku pothumada una...   off

[940 rows x 3 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Offensive language detection csv/subtask 2/tamil test.csv',index=False)

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/Offensive Language Detection/subtask 2/Malayalam_offensive_data_Training-YT.xlsx')
df.columns=['id','text','label']

In [ ]:
df['label']=df['label'].str.lower()

In [ ]:
df=df.dropna()

In [ ]:
p.clean(df['text'][0])

'Thaankal enthaan cheyyarullath?'

In [ ]:
df['text']=df['text'].apply(lambda x: p.clean(x))

In [ ]:
df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [ ]:
df

             id                                               text label
0      MA_YT001                    thaankal enthaan cheyyarullath    not
1      MA_YT002  ee theetam wcc feminichigalude news aarkk vena...   off
2      MA_YT003  fukru nem tiktok oolakale vilich charcha nadat...   off
3      MA_YT004  aashiq abu produce cheytharunnel ee problems u...   not
4      MA_YT005  pennungal oru team aayal ath moonjum ennu epoo...   off
...         ...                                                ...   ...
3995  MA_YT3996  eee parasayam thanne thettanu ella achanmaraya...   not
3996  MA_YT3997  ente bagathum thetundh ee vazhikke veraan paad...   not
3997  MA_YT3998  kuttiye njan kettikolaam swarnam onnum venda e...   not
3998  MA_YT3999  chumma veettil irunna chakkiye trollanmaarkku ...   not
3999  MA_YT4000                 kalidasan nalla look aayallo kanan   not

[3999 rows x 3 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Offensive language detection csv/subtask 2/malayalam train.csv',index=False)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Offensive Language Detection/subtask 2/malayalam_hasoc_tanglish_test_withlabels.tsv',delimiter='\t',header=None)

In [ ]:
df.columns=['id','text','label']

In [ ]:
df['label']=df['label'].str.lower()

In [ ]:
df['text']=df['text'].apply(lambda x: p.clean(x))

In [ ]:
df['text'] = df['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')

In [ ]:
df

            id                                               text label
0    MA_YT5000                  chenkol vendath thanne aayirunnu    not
1    MA_YT5001              sundardasinte bhakshnam vakkukal ano    not
2    MA_YT5002  akasha dooth oru copy adi movie anu who will l...   not
3    MA_YT5003  purath onnum pondade oru pennum payyanum onnic...   not
4    MA_YT5004  avasanam fahad oru oscar medikkumbazhum lalett...   not
..         ...                                                ...   ...
946  MA_YT5995  njanum ee myran karanam sndpyil pravarthikkan ...   off
947  MA_YT5996  allankil thanne malayalik enth kittiyalum math...   not
948  MA_YT5997  poda poora avante oru konavathiyaram nee theer...   not
949  MA_YT5998  satyam aaru paranjallum athu angikarikkana man...   not
950  MA_YT5999  oru kudumbathinte kuthaka ennulla reethi maatt...   not

[951 rows x 3 columns]

In [ ]:
df.to_csv('/content/drive/MyDrive/Offensive language detection csv/subtask 2/malayalam test.csv',index=False)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Offensive Language Detection/subtask 1/tamil_offensive_train subtask 1.tsv',delimiter='\t')

In [ ]:
df['category']=df['category'].str.lower()

In [ ]:
df

           id                                               text category
0        tam1  திருமலை நாயக்கர் பேரவை சார்பாக படம் வெற்றி பெற...      not
1        tam2  இந்த ட்ரெய்லர் கூட பார்க்கிற மாதிரி இல்லை.. இத...      off
2        tam3  மைசூரு செட்டியார் சமூகத்தின் சார்பாக இப்படம் வ...      not
3        tam4  மொத்த சாதியும் ஒரு சாதிக்கு எதிரா நிக்குது.......      off
4        tam5                     only for விஜய் சேதுபதி and STR      not
...       ...                                                ...      ...
5875  tam5876  இப்போதான் ஜாதி பிரச்சினை இல்லாம இருக்கு இப்போ ...      not
5876  tam5877  இது ஒரு சாதி ரீதியான படம் இல்லை தான் செல்லும் ...      not
5877  tam5878  கதை தெரியவில்லை  இருந்தாலும் மாறுபட்ட சிந்தனை ...      not
5878  tam5879  அட பரவால்லையே 8.5 டிஸ்லைக்ஸ் போட்ருக்கானுங்க.....      off
5879  tam5880  உதயநிதிக்கு நடிப்பு வரலனு சொல்ரவங்க லைக் போடுங...      not

[5880 rows x 3 columns]

In [ ]:
df['text']=df['text'].str.lower()

In [ ]:
df.to_csv('/content/drive/MyDrive/Offensive language detection csv/subtask 1/tamil train.csv',index=False)